@import "syntax-variables";

.editor .indent-guide {
  color: #ffd700;
  border-left: 1px solid;
  opacity: 0.2;
}

.editor .syntax--comment {
  color: lightgray;
  opacity: 0.6;
}

.editor .syntax--string.syntax--quoted {
  color: #b0ddee;
}

.editor .syntax--constant.syntax--other.syntax--property {
  color: orange;
}

.editor {
  background-color: black;
}

.editor .syntax--punctuation.syntax--definition.syntax--comment.syntax--less {
  color: #fff;
}

atom-workspace-axis.vertical .tab-bar .tab {
  background: #000000;
}
atom-workspace-axis.vertical .tab-bar .tab.active {
  background: #1f2326;
}
.atom-text-editor .line.cursor-line, atom-text-editor .line.cursor-line {
  box-shadow: 0 0px 4px 2.5px rgba(255, 255, 255, 0.2);
}

.atom-text-editor .gutter .line-number, atom-text-editor .gutter .line-number {
  background: black;
  color: #fff;
}
.line-number.cursor-line.cursor-line-no-selection {
  background: black;
  color: #fff;
}

.atom-text-editor .gutter .line-number.cursor-line-no-selection, atom-text-editor .gutter .line-number.cursor-line-no-selection {
    background-color: #0e1112 !important;
    color: #ffd700;
}
.editor .syntax--storage.syntax--modifier {
    color: #ffbaf7;
}
.editor .syntax--storage.syntax--type.syntax--var {
    color: #ffbaf7;
}
.editor .syntax--storage.syntax--type.syntax--const {
    color: #ffbaf7;
}

atom-workspace-axis.vertical .tab-bar {
  background-color: black;
}

.editor .selection .region {
  background: rgba(255, 215, 100, 0.2) !important;
  display: inline-block;
  border-radius: 4px;
  border-color: rgba(255, 215, 100, 0.1) !important;
  border-width: 1px;
  border-style: solid;
  box-shadow: 0 0px 6px 2.5px rgba(255, 255, 255, 0.2);
}
